[req]
prompt = no
distinguished_name = req_distinguished_name
x509_extensions = v3_req

[req_distinguished_name]
countryName = VN
organizationName = BK Billboard
commonName = Billboard-CA

[ v3_req ]
basicConstraints = critical, CA:TRUE
keyUsage = keyCertSign
extendedKeyUsage = clientAuth,serverAuth
subjectKeyIdentifier = hash

subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost