[req]
prompt = no
distinguished_name = req_distinguished_name
x509_extensions = v3_req

[req_distinguished_name]
countryName = VN
commonName = Billboard-CA

[ v3_req ]
basicConstraints = critical, CA:TRUE
keyUsage=critical, digitalSignature, keyEncipherment, keyCertSign
extendedKeyUsage = critical, clientAuth,serverAuth
subjectKeyIdentifier = hash

subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost